@model SimulationWebApp.Models.Personnel

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Prénom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.sexe)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.AnnéeAncienneté)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Département)
    </td>

</tr>

