@model IEnumerable<SimulationWebApp.Models.Personnel>
@{
    ViewBag.Title = "ProfessionelsVuePartielle";
}
<h2></h2>
<div class="panel panel-primary">
    <div class="panel panel-heading">Liste des professionnels utilisant une vue partielle</div>
    <div class="panel panel-body">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prénom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sexe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    Ancienneté
                </th>               
            </tr>
            @foreach (var item in Model)
            {
                @Html.Partial("_Personnel", item)
            }
        </table>
    </div>
</div>
