@model Marrero_projet01.Models.Employee_PhoneNumber

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="panel panel-primary">
    <div class="panel panel-heading">Détails de téléphone</div>
    <div class="panel panel-body">
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Employee.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Employee.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmployeePhoneType.PhoneNumbertype)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployeePhoneType.PhoneNumbertype)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Modifier", "Edit", new { id2 = item.PhoneNumberID, id = item.EmployeeID }) |
            @Html.ActionLink("Retour à la liste", "Index")
        </p>
    </div>
</div>
