@model IEnumerable<Marrero_projet01.Models.Employee_PhoneNumber>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p>
    @Html.ActionLink("Ajouter un nouveau numéro", "Create")
</p>
<div class="panel panel-primary">
    <div class="panel panel-heading">Liste des téléphones</div>
    <div class="panel panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeePhoneType.PhoneNumbertype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeePhoneType.PhoneNumbertype)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new {  id2 = item.PhoneNumberID, id = item.EmployeeID }) |
                        @Html.ActionLink("Détails", "Details", new { id2 = item.PhoneNumberID, id = item.EmployeeID }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id2 = item.PhoneNumberID, id = item.EmployeeID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

