@model dbfirst.Models.Employee_PhoneNumber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee_PhoneNumber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_PhoneNumberType.PhoneNumbertype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_PhoneNumberType.PhoneNumbertype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
