@model dbfirst.Models.Entreprise_AddressType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entreprise_AddressType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AddressTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
